@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	overflow: hidden;
}

main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}

/* Botoes */
button {
	height: 50px;
	width: 200px;
	margin-top: 10px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: transparent;
	border: 1px solid black;
	box-shadow: 1px 1px 1px black;
	transition: 0.4s all ease;
	cursor: pointer;
}

button:hover {
	transform: translateY(-2px);
	color: #fff;
	background-color: #222;
	border: #333;
}

button:active {
	transform: translateY(4px);
	color: #fff;
	background-color: #222;
	border: #333;
}

/* APP */
.intro--container,
.app--configuration {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: auto;
	min-height: 100vh;
	width: 100%;
	line-height: 1.5;
}

.intro--container p {
	margin: 15px 0;
}

.app--configuration {
	background-color: #111;
	color: #f1faff;
	padding: 5%;
}

.config--header {
	text-align: left;
	font-size: 1.5rem;
}

/* Carousel e itens */

.players--carousel {
	max-width: 100%;
	flex-wrap: wrap;
	height: 100%;
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: row-reverse;
	margin-top: 10%;
}

.add--player,
.player,
.adding--player {
	min-height: 100%; /* Added */
	height: 250px; /* Added */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid rgb(241, 250, 255);
	border-radius: 10px;
	width: 250px;
	font-size: 1.25rem;
	cursor: pointer;
	transition: 0.2s all;
	margin: 5px;

	box-shadow: 0 1px 3px rgba(241, 250, 255, 0.12),
		0 1px 2px rgba(241, 250, 255, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.add--player > ion-icon {
	font-size: 2.5rem;
	margin: 5px;
}

.add--player:hover {
	box-shadow: 0 14px 28px rgba(241, 250, 255, 0.25),
		0 10px 10px rgba(241, 250, 255, 0.22);
}

.player,
.adding--player {
	background-color: #f1faff;
	color: #111;
}

.player .imgLabel {
	height: 45%;
	width: 40%;
	border-radius: 50%;
	background-color: #333;
	margin: 5px;
}

.imgLabel img {
	height: 100%;
	width: 100%;
	object-fit: fill;
	border-radius: 50%;
	border: 2px solid #333;
}

span.vlr_iniciativa {
	color: #ff4136;
	margin-bottom: -5px;
}

/* Adicionando o jogador */
.adding--player input {
	text-align: center;
	width: 90%;
	margin: 5px;
	border-radius: 1px solid #111;
	border-radius: 10px;
	height: 15%;
}

/* Botões de ação */
.actions--btns button {
	background-color: #111;
	color: #f1faff;
	border: 1px solid rgb(241, 250, 255);
	padding: 0px 20px;
	margin: 10px;
}

button.organize--btn {
	background-color: #f1faff;
	color: #111;
	width: 40vw;
	margin-left: 0px;
}

/* Deletar Jogador */
.deletePlayer--container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	border: 1px solid #f1faff;
	width: 50%;
	height: 200px;
	border-radius: 15px;
	gap: 15px;
	margin-left: 25%;
	margin-top: 15px;
}

.deletePlayer--container input {
	width: 80%;
	text-align: center;
	height: 50px;
	border-radius: 15px;
	border: none;
	font-size: 16px;
	font-weight: 500;
}

.deletePlayer--container button {
	background-color: #f1faff;
	color: #111;
}

.deletePlayer--container button:hover {
	background-color: #ff4136;
	color: #f1faff;
}

/* Efeitos */
.hidden {
	display: none !important;
}

.explode-out {
	animation: explodeAnimation 0.5s ease forwards;
}

@keyframes explodeAnimation {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(1.5);
		opacity: 0.5;
	}
	100% {
		transform: scale(0);
		opacity: 0;
	}
}

.shake-animation {
    animation: shake 0.2s ease-in-out;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-50px); }
    50% { transform: translateX(50px); }
    75% { transform: translateX(-50px); }
    100% { transform: translateX(0); }
}


@media (max-width: 920px) {
	/* Configurações da intro */
	.intro--container > h1 {
		margin: 0px 10px;
	}

	.intro--container > img {
		transform: scale(0.75);
	}

	.config--header {
		text-align: center;
	}

	.players--carousel {
		flex-direction: row;
	}

	button.organize--btn {
		width: 90vw;
	}

	.deletePlayer--container{
		width: 90%;
		margin-left: 5%;
		padding: 10px;
	}
}
