@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);

/* Fontes Personalizadas */
@font-face {
	font-family: "Great Victorian";
	src: url("../fonts/greatvictorian/GreatVictorian-Swashed.otf");
}

@font-face {
	font-family: "Press-Jobs";
	src: url("../fonts/press-jobs/PressJobs.ttf");
}

@font-face {
	font-family: "Prida";
	src: url("../fonts/prida01/Prida01Black.ttf");
}

* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/* Footer */
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	color: #fff;
	min-height: 100px;
	position: relative;
	z-index: 99;
	width: 100%;
}

/* Detalhes Footer */
footer img {
	height: 50px;
	padding: 0px 10px;
}

footer p {
	padding: 0px 20px 0px 0px;
	text-align: center;
}

/* Classes Aplicaveis ou Gerais */
.slide--horizontal {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}

/* Efeitos de SFX */
#sfx_handler:hover {
	color: #880808;
	cursor: pointer;
}

/* Quadrinhos da Anya */
/* q1 */
.q1 > .quadrinho {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	flex-direction: column;
}

.anya.sleep {
	object-fit: cover;
	object-position: center;
	width: 100%;
}

.quadrinhoFala {
	height: 200px;
	width: 100%;
	background-color: #111;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	text-align: justify;
}

.quadrinhoFala.tipo2 {
	flex-direction: row-reverse;
}

.quadrinhoFala.tipo3 {
	flex-direction: column;
	height: auto;
	min-height: 200px;
	text-align: center;
}

.quadrinhoFala img {
	height: 100px;
	width: 100px;
	margin: 20px;
}

.quadrinhoFala.tipo2 img{
	height: 150px;
	width: 100px;
	margin: 20px;
}

.quadrinhoFala.tipo3 img {
	height: 600px;
	width: 900px;
}

.quadrinhoFala.tipo3 h3 {
	margin-bottom: 20px;
}

/* q2 */
.q2 {
	background-color: #111;
	color: #fff;
	text-align: center;
	padding-top: 100px;
}

.quadrinhoSide {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Chamado */
.lore--intro {
	background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7e757c61-f600-4009-9249-ab875e893c1e/d26c22t-453a4558-c053-49ae-8e09-1650e77a61aa.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdlNzU3YzYxLWY2MDAtNDAwOS05MjQ5LWFiODc1ZTg5M2MxZVwvZDI2YzIydC00NTNhNDU1OC1jMDUzLTQ5YWUtOGUwOS0xNjUwZTc3YTYxYWEuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.mwt8XA-UvA0TqDC4k1JRWJvxjr3PjAPL1ZrwJqooBVc");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #111;
	max-height: 600px;
	padding: 20px;
	max-width: 800px; /* Defina o valor máximo de largura desejado */
	margin: 0 auto;
}

.lore--intro h2 {
	font-family: "Great Victorian", cursive, sans-serif;
	font-size: 80px;
	color: #880808;
	margin-top: 5%;
	text-align: center;
}

.lore--intro .text {
	max-height: 300px; /* Defina o valor máximo de altura desejado */
	overflow-y: auto; /* Habilita a barra de rolagem vertical */
	padding-right: 20px; /* Adiciona espaço para a barra de rolagem */
}

.lore--intro .text p {
	margin: 10px 0px;
	line-height: 50px;
	font-size: 18px;
	text-indent: 2em;
	font-family: "Prida";
	text-align: justify;
}

.lore--intro .text p span {
	font-family: "Great Victorian", cursive, sans-serif;
	font-size: 100px;
	color: #880808;
	line-height: 100px;
}

.lore--intro .text p.sign {
	font-family: Press-Jobs;
	color: #880808;
	font-size: 48px;
	text-align: right;
}

.lore--intro .text p.sign img {
	height: 120px;
	width: 120px;
}

/* Livro */
.quadrinhoLivro{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.livro{
	width: 100%;
}

.livro,
.falasAnyaLivro{
	display: flex;
	align-items: center;
	justify-content: center;
}

.falasAnyaLivro{
	flex-direction: column;
}

.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
	color: #000;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.front,
.back {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid #111;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

button > i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}

#f1{
	background-color: #111;
	background-image: url('../img/book-capa.png');
	background-size: cover;
	background-position: center;
}

#b3{
	background-image: url('../img/book-atras.webp');
	background-size: cover;
	background-position: center;
}

#b1, #f2, #b2, #f3{
	background-image: url('../img/papel.jpg');
	background-size: cover;
	background-position: center;
}

#f2 img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* Smartphone */
@media (max-width: 900px) {
	.quadrinhoBig,
	.falasAnyaLivro{
		width: 100%;
	}

	.quadrinhoBig p{
		padding:20px;
	}

	.lore--intro.slide--horizontal .text {
		padding: 0px 10%;
		text-align: justify;
	}

	.lore--intro.slide--horizontal .text p.sign {
		font-size: 40px;
	}

	.lore--intro.slide--horizontal .text p.sign img {
		height: 60px;
		width: 60px;
	}

	.quadrinhoFala {
		height: 300px;
		padding-right: 40px;
		text-align: center;
	}

	.quadrinhoFala.tipo2{
		padding-left: 40px;
	}

	.quadrinhoFala.tipo3 img{
		height: 100%;
		width: 100%;
		margin-left: 60px;
		object-fit: cover;
	}	

	.quadrinhoFala.tipo3 h3{
		margin-left: 40px;
	}

	.quadrinhoSide {
		flex-direction: column-reverse;
	}	

	.quadrinhoSide img{
		padding-top: 20px;
		width: 100%;
	}

	.quadrinhoLivro{
		flex-direction: column;
		margin-top: 100px;
		margin-bottom: 20px;
	}
	
	.falasAnyaLivro img{
		width: 100%;
	}

	.livro{
		flex-direction: column;
	}

	.book{
		scale: 0.5;
	}

	#sfx_handler{
		color: #c70c0c;
	}
}
